.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 1rem 0.5rem;
  background-image: url('./4404.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}